body{
    background-color:pink;
	font-family: arial;
    }
h1 {
	background: lavender;
	}
h2 {
    color: green;
	}
h3 {
	color: green;
	}
h4 {
	color: blue;
}
h5 {
	color: blue;
	
h6 {
	color: orange;
}