body{
    background-color:pink;
	font-family: arial;
    }
h1 {
	background: lavender;
	}
h2 {
    color: green;
	}
h3 {
	color: green;
	}
#start{
background-color:yellow;
border-style: solid;
border-color: pink;
border:solid 1px black;
border-top-style: dotted;
}

nav ul{
	list-style-type: none;
	background-color: yellow;
	padding:15px;
	overflow: hidden;
	border-width:2px;
	margin: 0px;
	}
nav a{
	color:black;
	text-decoration:none;
	display:block;
	padding:15px;
	text-align: center;
	margin: 0px;
}

nav a:hover{
	background-color:green;
	margin: 0px;
}

nav li{
	float:left
	}
.bawah ul{
	list-style-type: none;
	background-color: yellow;
	padding:15px;
	overflow: hidden;
	border-width:2px;
	border-style: solid;
	border-color: pink;
	border:solid 1px black;
	border-top-style: dotted;
}