body{
    background-color:pink;
	font-family: arial;
    }
h1 {
	background: lavender;
	}
h2 {
    color: green;
	}
h3 {
	color: green;
	}
h4 {
	color: blue;
}
h5 {
	color: blue;
	
h6 {
	color: orange;
}

#start{
       background-color:brown:}


ul{
	list-style-type:none;
	width:100px;
	background-color:#f1f1f1;
	display: flex;
}

li {
	text-align:center;
	border-bottom: 1px solid #555555;
}

li a {
  display:block;
  color:black;
  padding:4px 10px;
  text-decoration:none;
}

ul li{
float:left;
}
   